.user__profile {
    position: relative;
    height: 362px;
    background: #fff;
}

.profile_banner {
    width: 100%;
    height: 285px;
}

.profile_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_content {
    position: absolute;
    height: 279px;
    left: 50%;
    top: 151px;
    transform: translateX(-50%);
}

.profile_avatar {
    width: 160px;
    height: 160px;
}

.profile_avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

.profile_info {
    text-align: center;
}

.profile_info h1 {
    font-size: 20px;
    line-height: 22px;
    color: #666666;
}