html {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    background: #f9fafb;
}

.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas: "hd hd hd" "nav main main";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 310px 1fr;
    position: relative;
}

.app-content {
    grid-area: main;
}