.dialogs {
    display: grid;
    grid-template-columns: 339px 1fr;
    box-sizing: border-box;
}

.dialogs__content {
    border: 1px solid rgb(234, 234, 234);
    box-sizing: border-box;
    background: #fff;
}


.dialogs__items {
    max-height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.dialogs__items:hover {
    overflow-y: auto;
}

.dialogs__items::-webkit-scrollbar {
    width: 10px;
}

.dialogs__items::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.dialogs__items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #333;
}

.messages {
    border: 1px solid rgb(234, 234, 234);
    box-sizing: border-box;
}

.messages__items {
    padding: 33px 30px 0;
    max-height: 50vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #fff;
}

.messages__items:hover {
    overflow-y: auto;
}

.messages__items::-webkit-scrollbar {
    width: 10px;
}

.messages__items::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.messages__items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #333;
}
